@import url("https://fonts.googleapis.com/css?family=Open+Sans");

body {
  font-family: "Open Sans", sans-serif;
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
}

.page {
  width: 80%;
  min-height: 80vh;
  border-radius: 8px;
  padding: 1rem;
  margin: 7vh auto ;
  overflow: hidden;
  
}

.settings-button{
    position: absolute;
    cursor: pointer;
    border: none;
    background-image: none;
    background-color: transparent;
    box-shadow: none;
    color: black;
    right: calc(10vw );
}

.settings-button:focus{
    transform: rotate(270deg);
    color: crimson;
    transition: 1s;
    
}

.section-one {
  width: 75%;
  float: left;
  margin-top: 20vh;
}
.section-two {
  width: 25%;
  float: right;
  margin-top: 20vh;
  
}

#greeting {
  text-align: center;
}

.search {
  height: 3rem;
  background: white;
  margin: 0.5rem 3rem 1rem 2rem;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.search img {
  width: 1.5rem;
  height: 1.5rem;
  padding: 12px;
  float: left;
}

.search input {
  height: 48px;
  border: none;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
  width: calc(100% - 96px);
  font-weight: 500;
}

.search button {
  cursor: pointer;
  border: none;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
  width: 3rem;
  height: 3rem;
  float: right;
  border-radius: 0 8px 8px 0;
}

.search button:hover {
  background: rgba(12, 12, 13, 0.1);
  transition: 0.5s;
}

.browse{
    margin: 0 3rem 0 2.5rem;
}

.browse h5{
    margin-bottom: 0.5rem; 
}

.tabs-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
}

.link-tab{
    height: 120px;
    /* width: 160px; */
    background: white;
    /* margin: 18px 0 0 ; */
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* .weather{
    margin-top: 5px;
} */

.weather-card{
    width: 90%;
    height: 20vh;
    background: white;
    margin: 8px 0 0 0;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.news{
    margin-top: 5px;
}
.news-tab{
    width: 90%;
    height: 10vh;
    background: white;
    margin: 8px 0 0 0;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}



/* Day CSS */

body {
  background: #edf2f4;
  color: white;
}

.page {
    background: rgba(43, 45, 66, 1);
  box-shadow: 0 0 50px rgba(43, 45, 66, 0.1);
}

/* Night CSS */

body {
  background: rgba(43, 45, 66, 1);
  color: black;
}

.page {
  background: #edf2f4;
  box-shadow: 0 0 50px rgba(237, 242, 244, 0.15);
}
