@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: 'Open Sans', sans-serif;
}

*{
    padding: 0;
    margin: 0;
}

input{
    width: 96%;;
    padding: 0.5rem 0;
    box-shadow: 0 0 20px rgba(43, 45, 66,0.05);
    margin: 1rem 0;
}

.page{
    width: 80vw;
    height: 80vh;
    border-radius: 8px;
    padding: 1rem;
    margin: 7vh auto 0;
}

.section-one{
    width: 75%;
    float: left;
    margin-top: 20vh;

}
.section-two{
    width: 25%;
    float: right;
    margin-top: 20vh;
}

#greeting{
    text-align: center;
}

/* Day CSS */

body{
    background: rgba(141, 153, 174,0.65);
}

.page{
    background: #edf2f4;    
    box-shadow: 0 0 50px rgba(43, 45, 66,0.1);
}

/* Night CSS */

body{
    background: rgba(43, 45, 66,1);
}

.page{
    background: #edf2f4;   
    box-shadow: 0 0 50px rgba(237, 242, 244,0.2);
}

